<div class="card_sub {{$ctrl.type}}">
  <div class="card_sub_header">
    <span>{{$ctrl.type}}</span>
  </div>
  <div class="card_sub_body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum quaerat ut doloremque illum dolor cumque, debitis magni recusandae optio. Officia voluptatum tempore ipsam, minus incidunt facere mollitia aperiam ipsum!
  </div>
  <div class="card_sub_footer">
    <button ng-click="$ctrl.buySub($ctrl.type)" class="btn btn-light comprar">COMPRAR</button>
  </div>
</div>



