<div class="card_sub {{$ctrl.type}}">
  <div class="card_sub_header">
    <span>{{$ctrl.type}}</span>
  </div>
  <div class="card_sub_body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum quaerat ut doloremque illum dolor cumque, debitis magni recusandae optio. Officia voluptatum tempore ipsam, minus incidunt facere mollitia aperiam ipsum!
  </div>
  <div class="card_sub_footer">
    <button class="btn btn-light comprar">COMPRAR</button>
  </div>
</div>

<!-- <link rel="stylesheet" href="css/yuks-list.css"> -->
<!-- <yuks-preview yuk="yuk" ng-repeat="yuk in $ctrl.yuks">
</yuks-preview>  -->


<!-- <subscriptions-preview subscription="subscription" ng-repeat="subscription in $ctrl.list">
</subscriptions-preview>  -->

<!-- {{$ctrl.list}} -->

<!-- <div class="yuks-preview"
  ng-show="!$ctrl.loading && !$ctrl.list.length">
  Aun no hay yuks aqui! :(
</div> -->

<!-- <list-pagination
 total-pages="$ctrl.listConfig.totalPages"
 current-page="$ctrl.listConfig.currentPage"
 ng-hide="$ctrl.listConfig.totalPages <= 1">
</list-pagination> -->



