.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub__username{
    font-weight: bold;
}

/* BUY CARDS */
.card_sub{
    margin: 50px;
    /* padding: 20px; */
    border-radius: 5%;
    width: 300px;
    height: 500px;
    max-width: 300px;
    max-height: 500px;
    min-width: 300px;
    min-height: 500px;
    -webkit-box-shadow: 2px 7px 15px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 2px 7px 15px 1px rgba(0,0,0,0.44);
    box-shadow: 2px 7px 15px 1px rgba(0,0,0,0.44);
    /* width: 500px;
    height: 100px; */
    overflow: hidden;
    background-color: rosybrown;
}
.subs_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_sub_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    /* background-color: white; */
}
.card_sub_header span{
    font-weight: bold;
    font-size: 80px;
    text-transform: capitalize;
}
.card_sub_body{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: white;

}

.card_sub_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
}
.netflix{
    background-color: rgb(245, 114, 114);
}
.spotify{
    background-color: rgb(128, 255, 103);

}
.books{
    background-color: rgb(134, 240, 231);
}

.dsub{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.dsub__header{
    font-size: 100px;
}
.dsub__body{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.dsub__left{
    border-radius: 5%;
    padding: 20px;
    background-color: #66CC66;
    -webkit-box-shadow: 2px 7px 15px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 2px 7px 15px 1px rgba(0,0,0,0.44);
    box-shadow: 2px 7px 15px 1px rgba(0,0,0,0.44);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dsub__left img{
    width: 100px;
    height: 100px;
    border: 3px solid #254725;
    border-radius: 50%;
}
.dsub__left__span{
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 1rem;
    border: 3px solid #254725;
    background-color: #66CC66;
}
.dsub__left__span__content{
    font-weight: normal;
    text-transform: none;
}
.dsub__left__span--active{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    padding: .05rem .8rem .1rem;
    border-radius: 1rem;
}

.active--true{
    color: rgb(0, 0, 0);
    background-color: rgb(55, 255, 55);
    border: 3px solid #254725;
}

.active--false{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 55, 55);
    border: 3px solid #254725;
}

