
<article class="yuk">
    <div class="leftyuk">
        <img class="image" ui-sref="app.profile.main({ username: $ctrl.yuk.author.username})" ng-src="{{$ctrl.yuk.author.image}}" alt="test">
    </div>
    <div class="rightyuk">
        <div class="info">
            <div class="yuk_title">{{$ctrl.yuk.title}}</div>
            <div class="yuk_body">{{$ctrl.yuk.content}}</div>
            <div ui-sref="app.profile.main({ username: $ctrl.yuk.author.username})" class="yuk_author">@{{$ctrl.yuk.author.username}}</div>
        </div>
        <div class="follow">
            <follow-btn user="$ctrl.yuk.author"></follow-btn>
        </div>

        <div class="yuk_footer1">
            <div class="left_footer1">
                <span><b>TAGS:</b>
                    <span ng-repeat="t in $ctrl.yuk.tagList">
                        <a>{{t}}</a>
                    </span>
                </span>
            </div>
            <div class="like_dislike">
                <yuk-actions yuk="$ctrl.yuk"></yuk-actions>
                <!-- <like-btn yuk="$ctrl.yuk">
                    {{$ctrl.yuk.likesCount}}
                </like-btn>
                <dislike-btn yuk="$ctrl.yuk">
                    {{$ctrl.yuk.dislikesCount}}
                </dislike-btn> -->
            </div>
            <div class="rightyuk_footer1">
                <button class="btn btn-success" ui-sref="app.detailyuk({slug:$ctrl.yuk.slug})">Details</button> 
            </div>
        </div>
    </div>
</article>
<hr>